#page3,#page4,#page5 {
    justify-self: center;
    width: 250px;
}

.details-main-heading {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0px;
}
.details-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
}
/* red asterisks */
/* 
    TODO: repetition here, would be nice
    to have rule based on "required" in label's 
    input tag
*/
label[for=first-name]::after {
    content: " *";
    color: red;
}
label[for=email]::after {
    content: " *";
    color: red;
}
label[for=phone-number]::after {
    content: " *";
    color: red;
}


input {
    background-color: transparent;
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Oswald;
    border: 1px solid grey;
}
input:not([required]) {
    margin-bottom: 20px;
}
.invalid-writing {
    height: 20px;
    font-size: 12px;
    color: red;
}
.invalid {
    border: 1px solid red;
}
.invisible {
    visibility: hidden;
}


.next-button {
    margin-top: 20px;
    float: right;
    width: 60px;
    text-align: center;
    text-decoration: none;
    background-color: #E05D50;
    display: block;
}


/* more about you */
select {
    font-family: Oswald;
    border: 1px solid grey;
    background-color: transparent;
    width: 100%;
    height: 30px;
}
textarea {
    background-color: transparent;
    width: 100%;
    height: 90px;
}


/*Files*/
.cv,.cover-letter {
    border: 1px dashed grey;
    width: 100%;
    margin: 20px 0px;
    height: 100px;
}
.over {
    background-color: lightslategrey;
}

.upload-label {
    color: red;
    cursor: pointer;
    display: inline;
}
.file-img {
    width: 30px;
    height: 30px;
}
.hide-input {
    display: none;
}