#page1 {
    text-align: center;
}
#page1 .red-heading {
    color: #E05D50;
}
#page1 .main-heading {
    padding-left: 15%;
    padding-right: 15%;
    font-family: Heebo, sans-serif;
    font-size: 50px;
}
#page1 .begin-button {
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #E05D50;
}