#page2 .step-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#page2 .step-container .step {
    background-color: white;
    width: 180px;
    height: 250px;
    margin: 20px;
}

#page2 .progress-bar {
    width: 180px;
    height: 20px;
}

#page2 .progress-bar #front-rect {
    fill: black;
    height: 20;
    width: 0;
}
