#page2 {
    /* align-self: center; */
    display: grid;
    justify-items: center;
}

#page2 .main-heading {
    font-family: Heebo;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

#page2 .step-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#page2 .step-container .step {
    display: grid;
    grid-template-rows: 60px 30px auto 50px;
    background-color: white;
    width: 200px;
    height: 250px;
    margin: 20px;
}

.submit-button {
    display: block;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    color: white;
    background-color: #E05D50;
    cursor: pointer; 
}
.loading {
    background-color: rgb(138, 138, 138);
}

/* Application step */
.step .step-num {
    margin: 0px 20px;
}
.step .step-title {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    height: auto;
}
.step .step-details {
    font-size: 11px;
    margin: 0px 20px;
}
.step .complete-button {
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: #C0C0C0
}


