@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald&display=swap');

body {
    margin: 0;
    padding: 0;
}

body * {
    /* border: 1px dashed grey; */
}

.hidden {
    display: none !important;
}

.app {
    font-family: Oswald;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    height: 100vh;
    background-position: center;
    background-image: url("page-bground.png");
}
.app .content {
    align-self: start;
    display: grid;
    /* grid-template-rows: 70px 1fr; */
}


/* step navigation */
.nav-steps-hide {
    display: none !important;
}
.nav-steps {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav-step {
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    text-decoration: none;
    display: grid;
    width: 200px;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

/* progress bars */
.progress-bar {
    border-radius: 25px;
    width: 160px;
    height: 7px;
    background-color: #C0C0C0;
    justify-self: center;
    align-self: center;
}
.progress-bar rect {
    fill: black;
    height: 10;
    width: 0;
}



.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
    align-items: center;
}
.header1 {
    padding-left: 20px;
}
.header2 {
    text-align: center;
}
.header3 {
    text-align: center;
}

.footer {
    align-self: end;

    height: 70px;
    display: grid;
    grid-template-columns: 50px 50px auto;
    justify-items: center;
}
.moon-sun {
    margin-left: 30px;
    width: 20px;
    height: 20px;
}