@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald&display=swap');

body {
    margin: 0;
    padding: 0;
}
body * {
    border: 1px dashed grey;
}
.hidden {
    display: none;
}

.app {
    font-family: Oswald;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;

    background-position: center;
    background-image: url("page-bground.png");
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
    align-items: center;
}
.header1 {
    padding-left: 20px;
}
.header3 {
    text-align: center;
}

.footer {
    align-self: end;

    height: 70px;
    display: grid;
    grid-template-columns: 50px 50px auto;
}